body{
    width:70%;
    margin: auto;
    padding: 10px;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content:flex-end;
}

header nav ul li{
    padding: 10px;
}

header nav ul li a{
    color: black;
    text-decoration: none;
}

header nav ul li a:hover{
    border-bottom: 1px solid black;
}

span{
    color: orange;
}


#top{
    text-align: center;
    padding: 10px 15px;
    color: white;
    background-color: gray;
}

.flex-container{
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

footer{
    background-color: black;
    color: white;
    padding: 10px 15px;
}