

body{
    margin: auto;
    width: 80%;

}

header{
    padding: 30px;
    text-align: center;
    color: #38240a ;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    justify-content: flex-end;
}

header nav ul li{
    padding: 10px;
    padding-top: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: #38240a;
}

header nav ul li a:hover{
    border-bottom: 1px solid #38240a;
}

header h3{
    text-align: start;
    padding: 30px;
}

#top{
    text-align: center;
    background-color: #edd5b7;
    padding: 30px;
    color: white;
}


img{
    width: 300px;
   border-radius: 10px;
}


.image-container{
    background-color: #38240a;
    justify-content: space-around;
    margin: auto;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}

figcaption{
    padding: 10px;
    padding-bottom:40px;
}

footer{
    color:#38240a;
    padding: 10px;
    background-color: #edd5b7;
}


.center-container{
    background-color: #38240a;
    color: white;
    padding: 30px;
}

#blogs{
    background-color: #38240a;
    color: white;
    padding: 30px;
    display: flex;
}

.first-blog{
    border: 1px solid #edd5b7;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.second-blog{
    border: 1px solid #edd5b7;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.third-blog{
    border: 1px solid #edd5b7;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    background-color: #38240a;
    color: white;
    padding: 150px;
    text-align: center;
}

input{
    padding: 10px;
    width: 300px;
    text-align: center;
}

textarea{
    padding: 10px;
    width: 300px;
    height: 200px;
    text-align: center;
}

.logo{
    width: 30px;
    padding-right: 10px;
}

.logo-top{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

@media only screen and (max-width: 450px){

    body{
      width: 100%;
    }

    header h3{
        text-align: end;
        padding: 0px;
    }

    header nav ul{
        flex-direction: column;
        text-align: start;
    }

    .logo{
        display: none;
    }


form{
    background-color: #38240a;
    color: white;
    padding: 30px;
    text-align: start;
}

#blogs{
    flex-direction: column;
}

}

@media only screen and (max-width: 700px){

    #blogs{
        flex-direction: column;
    }

    form{
        background-color: #38240a;
        color: white;
        padding: 30px;
        text-align: start;
    }
}