

body{
    margin: auto;
    width: 80%;

}

header{
    padding: 30px;
    text-align: center;
    color: #38240a ;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

header nav ul li{
    padding: 10px;
    padding-top: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: #38240a;
}

header nav ul li a:hover{
    border-bottom: 1px solid #38240a;
}

#top{
    text-align: center; 
    background-color: #edd5b7;
    padding: 30px;
    color: white;
}


img{
    width:30%;
   border-radius: 10px;
}


.image-container{
    background-color: #38240a;
    justify-content: space-around;
    margin: auto;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}

figcaption{
    padding: 10px;
    padding-bottom:40px;
}

footer{
    color:#38240a;
    padding: 10px;
    background-color: #edd5b7;
}